body {
    font-family: Calibri, sans-serif;
    color: #006600;
    font-size: 12pt;
}
aside {
    background-color:  #EEEEEE;
}
h1 {
    font-family: Cambria, serif;
    color:  #003300; 
}
#box {
    border: 1px solid;
    border-color:  #660066;
    
}
/*
@font-face
{
  font-family:  recreation;
  src: uri('recreation.ttf')  
}
*/